<!DOCTYPE html>
<html>
<head>
<title>{lang(membercenter)}</title>
<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <link href="{$skin_path}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$skin_path}/css/user.css" rel="stylesheet">
	<script src="{$skin_path}/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
	<script src="{$skin_path}/js/ie8-responsive-file-warning.js"></script>
	<![endif]-->
    <script src="{$skin_path}/js/ie-emulation-modes-warning.js"></script>
    <!--[if lt IE 9]>
      <script src="{$skin_path}/js/ie/html5shiv.min.js"></script>
<script src="{$skin_path}/js/ie/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
            <span class="sr-only">{get(sitename)}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" title="{get(sitename)}" href="{$base_url}/"><img src="{get('site_logo')}" alt="{get(sitename)}" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right">
            <li id="fat-menu" class="dropdown">
              <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {lang(welcomeyou)}，{$user.username}
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="drop3">
                <li><a href="{url('user/edit/table/user')}">{lang(edituserinfo)}</a></li>
            <li><a href="{url('user/changepassword')}">{lang(changepassword)}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{url('user/logout')}" class="logout">{lang(logout)}</a></li>
              </ul>
            </li>
          </ul>
		  <ul class="nav navbar-nav navbar-right">
		  <li><a href="{get(site_url)}" title="{lang(homepage)}" target="_blank"><i>网站首页</i><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="http://www.cmseasy.cn/" target="_blank" title="官方网站"><i>官方网站</i><span class="glyphicon glyphicon-tags"></span></a></li>
            <li><a href="http://www.cmseasy.cn/service/" target="_blank" title="商业授权"><i>商业授权</i><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
            <li><a href="http://www.cmseasy.org" target="_blank" title="问题交流"><i>问题交流</i><span class="glyphicon glyphicon-user"></span></a></li>
            <li><a href="http://www.cmseasy.cn/chm/" target="_blank" title="在线教程？"><i>在线教程？</i><span class="glyphicon glyphicon-question-sign"></span></a></li>
          </ul>
             
		  
         </div>

      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div id="sidebar" class="col-sm-2 col-md-1 sidebar">
          <ul class="nav nav-sidebar">

		   {if chkfpw('add_archive',$user['groupid'])}<li><a href="{url('manage/add/manage/archive')}">{lang(addcontent)}</a></li>{/if}
              <li><a href="{url('/manage/list/manage/archive/needcheck/1')}">{lang(waitcheckedcontent)}</a></li>
              <li><a href="{url('/manage/list/manage/archive/needcheck/0')}">{lang(alreadycheckedcontent)}</a></li>
			  <li><a href="{url('/manage/invitelist/manage/invite')}">{lang('invitation-code')}</a></li>
              <li><a href="{url('/manage/commentlist/manage/comment')}">{lang(comment)}</a></li>
              <li><a href="{url('/manage/zanlist/manage/zanlog')}">{lang(praise)}</a></li>
			  <li><a href="{url('/form/list')}">提交的表单</a></li>
              {if config::get('extension_type')}
              <li><a href="{url('union/stats/manage/union')}">{lang(stats)}</a></li>
              <li><a href="{url('union/getcode/manage/union')}">{lang(access_code)}</a></li>
              <li><a href="{url('union/visit/manage/union')}">{lang(access_statistics)}</a></li>
              <li><a href="{url('union/reguser/manage/union')}">{lang(registered_users)}</a></li>
              <li><a href="{url('union/pay/manage/union')}">{lang(promotion_of_settlement)}</a></li>
			 {/if}
              <li><a href="{url('user/edit/table/user')}">{lang(modify)}</a></li>

           
          </ul>
        </div>
        <div class="col-sm-10 col-sm-offset-1 col-md-11 col-md-offset-1 main">
       
          <div class="row placeholders">

		  <div class="user_welcome">
<img src="{$skin_path}/images/user/avatar.png" />
<span>
{lang(welcomeyou)}，{$user.username} [	<a href="{url('user/logout')}" class="logout">{lang(logout)}</a>	]
</span>

</div>

            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="{url('user/edit/table/user')}">
			  <span class="glyphicon glyphicon-edit"></span>
              <h4>{lang(edituserinfo)}</h4>
              <span class="text-muted">Edit data</span>
			  </a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="{url('user/changepassword')}">
			  <span class="glyphicon glyphicon-lock"></span>
              <h4>{lang(changepassword)}</h4>
              <span class="text-muted">Change password</span>
			  </a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
			  <a href="{url('manage/orderslist/manage/orders')}">
              <span class="glyphicon glyphicon-list-alt"></span>
              <h4>{lang(vieworders)}</h4>
              <span class="text-muted">Query order</span>
			  </a>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="{url('archive/orders')}">
			  <span class="glyphicon glyphicon-shopping-cart"></span>
              <h4>{lang(shoppingcart)}</h4>
              <span class="text-muted">Shopping Cart</span>
			  </a>
            </div>
          </div>
            <?php
if(hasflash()){
	$showmessage = showflash();
	//var_dump($showmessage);exit;
	if(strlen($showmessage)>200){
            ?>
            <div id='message'><span style="color:red;float:left"><?php echo $showmessage; ?></span>
                <span style="color:blue;float:right"><a href="#" onClick="javascript:turnoff('#message');">(×)</a></span></div><div class="blank20"></div>
            <?php
    }else{
?>
            <link rel="stylesheet" href="{$base_url}/js/dialog.css">
            <script type="text/javascript" src="{$base_url}/js/dialog.js"></script>
            <script type="text/javascript">
                var d = dialog({
                    title: '{lang(prompted)}',
                    content: '<?php echo $showmessage; ?>',
                    ok: function () {}
                });
                d.showModal();
            </script>
            <?php
    }
}
?>